<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.btp.me.classroom">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Classroom"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".slide.MyUploadingService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".slide.MyDownloadingService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhoneAuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".MemberInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".PhoneAuthenticationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomepageActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".assignment.AssignmentDetailsActivity"
            android:theme="@style/NoTitleBar" />
        <activity
            android:name=".PublicChatActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/NoTitleBar" />
        <activity android:name=".CreateClassActivity" />
        <activity android:name=".JoinClass" />
        <activity android:name=".people.ClassMembersActivity" />
        <activity android:name=".slide.SlideActivity" />
        <activity android:name=".assignment.AssignmentUploadActivity" />
        <activity android:name=".assignment.AssignmentActivity" />
        <activity android:name=".teacher.PendingRequestActivity" />
        <activity android:name=".teacher.ClassMarksActivity"></activity>
    </application>

</manifest>